<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<security>
				<requestFiltering>
					<!-- Measured in Bytes -->
					<requestLimits maxAllowedContentLength="1073741824" />
					<!-- 1 GB-->
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>